<!--
  If you want to remove credits, please, donate:
  https://www.wowthemes.net/freebies-license/
-->

<p>
<div class="credits">
    {{site.title}} is developed and maintained by
    <a target="_blank" class="text-dark" href="https://www.linkedin.com/in/cristhianfernandez/">
        <b>Cris Fernandez</b></a>
    <a target="_blank" class="text-dark" href="https://www.twitter.com/crisfervil"><i class="fa fa-twitter"></i></a>
</div>
<div class="credits">
    Big thanks to
    <a target="_blank" class="text-dark" href="https://www.linkedin.com/in/guidopreite/">
        <b>Guido Preite</b>
    </a>
    <a target="_blank" class="text-dark" href="https://www.twitter.com/crmanswers"><i class="fa fa-twitter"></i></a>
    for the code and support ❤
</div>
</p>

<div>
    <a class="text-muted small" href="{{site.url}}{{site.baseurl}}/tc">
        Terms and Conditions
    </a>
</div>
<div>
    <span class="text-muted small">Made with Pintereso Theme</span>
</div>